<div class="row">
  <div class="col-md-4">
    <h1>Forgot Password</h1>
    <hr><br>
    <p>
      <span>Please enter your email to reset your password&nbsp;</span>
    </p>
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="user.username" name="username" type="email" required class="form-control" id="username"
          placeholder="enter your email">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a [routerLink]="['/']" class="btn btn-success">Cancel</a>
    </form>
  </div>
</div>